body 
{
    background-color: black;
    font-family: Arial;
    color: white;

    /* position:relative; */
    flex: inherit;
    
    
}

h1
{
    color: grey;
    font-family: verdana;
}

.maindiv
{
    background-color: white;
    color:black;
    width: 500px;
    padding: 25px;
    border-radius: 25px;
    font-weight: 600;
    /* padding-left: 500px; */
    /* margin: 0 auto;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */

    /* display: flex;
    justify-content: center;
    align-items: center; */

     
}

.childiv
{
    padding-left: 100px;
    padding-top: 10px;
}



